.Post {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #98C1D9;
    margin-top: 10px;
    border: 1px solid #3D5A80;
    border-radius: 5px;
    box-shadow: 0px 5px 8px -9px solid rgab(0, 0, 0, 0.5);
  }
  
  .Post__info {
    display: flex;
    align-items: center;
  }
  
  .Post__info > h4 {
    margin-left: 10px;
    cursor: pointer;
    font-size: 13px;
  }
  .Post__info > h4:hover {
    text-decoration: underline;
  }
  
  .Post__info > small {
    margin-left: 10px;
  }
  
  .Post__body {
    display: flex;
    flex-direction: column;
  }
  
  .Post__body > .Post__Post {
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex: 1;
  }
  
  .Post__Post > .Post__btnAnswer {
    margin-left: auto;
    cursor: pointer;
    padding: 7px;
    background-color: #EE6C4D;
    outline: none;
    border: none;
    color: lightgray;
    font-weight: 300;
    font-size: 14px;
    border-radius: 33px;
  }
  
  .Post__btnAnswer:hover {
    color: #EE6C4D;
    background: lightgray;
  }
  
  .Post__Post > p:hover {
    text-decoration: underline;
  }
  
  .Post__body > .Post__answer > p {
    margin-bottom: 10px;
  }
  
  /* .Post__image {
    background: rgb(0, 140, 255);
  } */
  
  .Post__body > img {
    width: 100%;
    object-fit: contain;
    background-color: #98C1D9;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .Post__footer {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
  
  .Post__footer > .MuiSvgIcon-root {
    color: gray;
    margin-right: 40px;
    cursor: pointer;
  }
  
  .Post__footerAction {
    background-color: lightgray;
    padding: 5px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    border-radius: 33px;
  }
  .Post__footerAction > .MuiSvgIcon-root {
    color: gray;
    margin-right: 40px;
    cursor: pointer;
  }
  
  .Post__footerAction > .MuiSvgIcon-root:hover {
    color: rgb(0, 140, 255);
    margin-right: 40px;
  }
  
  .Post__footerLeft {
    margin-left: auto;
  }
  
  .Post__footerLeft > .MuiSvgIcon-root {
    color: gray;
    cursor: pointer;
    margin-left: 30px;
  }
  
  .modal__Post {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .modal__Post > h1 {
    color: #8f1f1b;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .modal__Post > p {
    color: gray;
    font-size: small;
  }
  
  .modal__Post > p > .name {
    color: black;
    font-weight: bold;
  }
  
  .modal__answer {
    display: flex;
    padding-top: 20px;
    flex: 1;
  }
  
  .modal__answer > textarea {
    width: 100%;
    height: 200px;
    padding: 5px;
    font-size: 15px;
    color: white;
  }
  
  .modal__button {
    display: flex;
    align-items: center;
    margin-right: -20px;
    border-top: 1px solid lightgray;
  }
  
  .modal__button > .cancle {
    margin-left: auto;
    border: none;
    margin-top: 5px;
    outline: none;
    color: gray;
    font-weight: 500;
    padding: 10px;
    margin-right: 10px;
    border-radius: 33px;
    cursor: pointer;
  }
  .modal__button > .add {
    border: none;
    outline: none;
    margin-top: 5px;
    background-color: rgb(0, 64, 255);
    color: white;
    font-weight: 700;
    padding: 10px;
    margin-right: 10px;
    border-radius: 33px;
    cursor: pointer;
  }