.qnsbox {
  flex: 0.2;
    align-items: left;
    align-self: left;
  border: 1px solid black;
  position:fixed;
  right: 0px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background: #98C1D9;
  border-radius: 25px;
  padding-left: 10px;
    width: 350px;
    margin-right: 10px;
}
.qnsbox:hover {
  border: 1px solid rgb(175, 175, 175);
}
.qnsbox_info {
  flex: 0.2;
  vertical-align: text-top;

  display: flex;
    padding-left: 10px;
  cursor: pointer;
  color: #FFF;
  align-items: center;
 
}
.qnsbox_info > h5 {
  vertical-align: middle;
  color: rgb(0,0,0);
  font-weight: 300;
  margin-left: 10px;
}
.qnsbox__askus {
  align-self: center;
  align-items: center;
  display: flex;
 
}
.qnsbox__askus > p {
  align-items: center;
  text-align: center;
  color: black;

  font-size: 24px;
   font-family: Inter;
    font-weight: 400;
}
