.sidebarOptions {
    display: flex;
    flex-direction: column;
  }
  .sidebarOption {
    background: #98C1D9;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
  
  }
  
  .sidebarOption:hover {
    border: 100px;
    border-color: azure;
    border-radius: 5px;
  }
  .sidebarOption > img {
    height: 30px;
    border-radius: 5px;
    margin-left: 20px;
  }
  
  .sidebarOption .add {
    font-size: medium;
    margin-left: 20px;
  }
  .sidebarOption > p {
    margin-left: 10px;
    color: white;
    font-weight: 400;
    font-size: 13px;
  }
  
.sidebarOption > .text {
    margin-left: 23px;
    color: white;
    font-weight: 400;
    font-size: 13px;
  }