@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background: url(http://localhost:3000/pixel_background.png); */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#da6ddb",endColorstr="#30e8e6",GradientType=1);
  background-size: cover;
}

.login__container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 400px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.login__logo {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 10px;
  max-width: 80%;
}
.button_losi
{
display: flex;
align-content: space-around;
align-items: baseline;
justify-content: space-between
}



.login__desc > h3 {
  margin-top: 0px;
  text-align: center;
  font-size: xxx-large;
  font-family: "Cedarville Cursive", cursive;
}

.login__desc > p {
  color: gray;
  text-align: center;
  font-weight: 500;
  font-size: 40px;
}

.login__auth {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

.login__authOptions {
  display: flex;
  flex: 0.5;
  flex-direction: column;
  padding: 10px;
  border-right: 0px;
}

.login__authOption {
  font-size: 12px;
    font-weight: 700;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  cursor: pointer;
  background-color: rgb(238, 217, 217);
  border-radius: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.login__authOption:hover {
  background-color:#8158d8;
}

.login__authOption > img {
  height: 30px;
  object-fit: contain;
}

.login__authOption > p {
  margin-left: 10px;
}

.login__emailPass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  flex: 0.5;
  margin-left: 0px;
}

.login__label > h3 {
  padding: 0px;
  font-size: 40;
  margin-left: 2px;
  align-items: center;
}

.login__inputFields {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.login__inputField {
  padding: 0px;
}

.login__inputField > input {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  margin-bottom: 0px;
  height: 25px;
  width: 90%;
  outline: none;
  border: none;
  background-color: rgb(236, 236, 236);
  font-size: 10pt;
  border-radius: 10px;
}

.login__inputField_pass {
  margin-top: 0px;
  margin-bottom: 15px;
  height: 15px;
}

.login__inputField_pass > input {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 25px;
  width: 90%;
  outline: none;
  border: none;
  background-color: rgb(236, 236, 236);
  font-size: 10pt;
  border-radius: 10px;
}

.login__forgButt {
  padding-left: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3px;
  margin-bottom: 5px;
}

.login__forgButt > small {
  color: gray;
  cursor: pointer;
}

.login__forgButt > small:hover {
  color:#8158d8;
  text-decoration: underline;
}

.login__forgButt > button {
  padding: 9px;
  border: none;
  outline: none;
  background-color: blue;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.login_button > button {
  padding: 9px;
  border: none;
  outline: none;
  width: 100%;

  background-color: rgb(238, 217, 217);
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  border-radius: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.login_button:hover > button {
  background: #8158d8;
}

.signup_button > button {
  padding: 9px;
  margin-bottom: 0px;
  border: none;
  width: 100%;
  outline: none;
  background-color: rgb(238, 217, 217);
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  border-radius: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
.signup_button:hover > button {
  background:#8158d8;
}

.login__authDesc {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 0px;
  margin-left: 90px;
  margin-top: 0px;
  width: 45%;
}
.login__authDesc > p {
  font-size: 8px;
  color: gray;
}

.login__lang {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin-top: 0px;
  padding: 10px;
}

.login__lang > p {
  color: gray;
  margin-right: 5px;
  cursor: pointer;
  font-size: 13px;
}

.login__lang > p:hover {
  color: gray;
  margin-right: 5px;
  text-decoration: underline;
}

.login__lang > .MuiSvgIcon-root {
  color: gray;
}


.login__footer {
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 0px;
  color: gray;
}
.login__footer a{
  text-decoration: none;
  color: gray;

}
.login__footer a:hover{
  color: #8158d8;

}

.login__footer > p {
  color: gray;
  font-size: small;
  cursor: pointer;
}
.contact
{
  text-decoration: none;
}
.login__footer > p:hover {
  /* text-decoration: underline; */
  color: #8158d8;
}
.login_lang :hover,.login_lang p:hover{
  /* text-decoration: underline; */
  color:#8158d8;
}
.or
{
text-align: center;
margin-bottom: 14px;
}

@keyframes animate {
  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }
  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #111113;
  overflow: hidden;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #8158d8;
  animation: animate 19s linear infinite;
  z-index: -1;
}




.background li:nth-child(0) {
  left: 55%;
  width: 126px;
  height: 126px;
  bottom: -126px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 58%;
  width: 174px;
  height: 174px;
  bottom: -174px;
  animation-delay: 1s;
}
.background li:nth-child(2) {
  left: 53%;
  width: 131px;
  height: 131px;
  bottom: -131px;
  animation-delay: 5s;
}
.background li:nth-child(3) {
  left: 23%;
  width: 102px;
  height: 102px;
  bottom: -102px;
  animation-delay: 3s;
}
.background li:nth-child(4) {
  left: 12%;
  width: 156px;
  height: 156px;
  bottom: -156px;
  animation-delay: 17s;
}
.background li:nth-child(5) {
  left: 48%;
  width: 144px;
  height: 144px;
  bottom: -144px;
  animation-delay: 9s;
}
.background li:nth-child(6) {
  left: 17%;
  width: 147px;
  height: 147px;
  bottom: -147px;
  animation-delay: 5s;
}
.background li:nth-child(7) {
  left: 4%;
  width: 101px;
  height: 101px;
  bottom: -101px;
  animation-delay: 6s;
}
.background li:nth-child(8) {
  left: 48%;
  width: 180px;
  height: 180px;
  bottom: -180px;
  animation-delay: 11s;
}
.background li:nth-child(9) {
  left: 33%;
  width: 145px;
  height: 145px;
  bottom: -145px;
  animation-delay: 4s;
}
.background li:nth-child(10) {
  left: 59%;
  width: 133px;
  height: 133px;
  bottom: -133px;
  animation-delay: 38s;
}
.background li:nth-child(11) {
  left: 43%;
  width: 149px;
  height: 149px;
  bottom: -149px;
  animation-delay: 6s;
}
.background li:nth-child(12) {
  left: 72%;
  width: 154px;
  height: 154px;
  bottom: -154px;
  animation-delay: 30s;
}
.background li:nth-child(13) {
  left: 54%;
  width: 153px;
  height: 153px;
  bottom: -153px;
  animation-delay: 36s;
}
.background li:nth-child(14) {
  left: 2%;
  width: 177px;
  height: 177px;
  bottom: -177px;
  animation-delay: 9s;
}
.background li:nth-child(15) {
  left: 73%;
  width: 129px;
  height: 129px;
  bottom: -129px;
  animation-delay: 51s;
}